COMMERCE_MODE=mock
COMMERCE_LIVE_WRITE_ENABLED=false
SHOPIFY_STORE_DOMAIN=
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_API_VERSION=2026-07
SHOPIFY_WEBHOOK_SECRET=
SHOPIFY_VARIANT_MAP_JSON={}
WEBSHIPPY_API_URL=
WEBSHIPPY_API_KEY=
WEBSHIPPY_WAREHOUSE_ID=
WEBSHIPPY_ORDER_OWNER=shopify-connector
WEBSHIPPY_TEST_BARCODES_JSON={}
WEBSHIPPY_PUSH_SECRET=
WEBSHIPPY_WRITE_MODE=disabled
CHECKOUT_PROVIDER=
CHECKOUT_ENDPOINT=
CHECKOUT_PUBLIC_KEY=
PUBLIC_CONTACT_EMAIL=
PUBLIC_GOOGLE_MEASUREMENT_ID=
PUBLIC_META_PIXEL_ID=
PUBLIC_TIKTOK_PIXEL_ID=
DRESSA_API_URL=
DRESSA_API_KEY=
DROPSHIPPINGXL_API_URL=
DROPSHIPPINGXL_API_KEY=
